[submodule "firmware/libs/contiki"]
	path = firmware/libs/contiki
	url = git@github.com:contiki-os/contiki.git
[submodule "firmware/libs/utils"]
	path = firmware/libs/utils
	url = git@github.com:joeferner/stm32-utils.git
[submodule "test-firmware/libs/slre"]
	path = test-firmware/libs/slre
	url = git@github.com:cesanta/slre.git
